<br><br><h1>Truck Schedule</h1>
<form id="addSchedule action="/truckschedule" method="post"">
  Food Truck:<br>
  <select class="styledSelect" name="truckName" id="foodtruckID">
    {{#each allTrucks}}
    <option value={{food_truck_id}}>{{food_truck_name}}</option>
    {{/each}}
  </select>
   <br><br>
  Location:<br>
  <select class="styledSelect" name="location" id="locationID">
    {{#each allLocations}}
    <option value={{location_id}}>{{location_name}}</option>
    {{/each}}
  </select>
   <br><br>
  Time Slot:<br>
  <select class="styledSelect" name="timeslot" id="foodtruckID">
    <option value="NULL">NULL</option>    
    {{#each allTimeSlots}}
    <option value={{time_slot_id}}>{{day_of_week}}, {{time_of_day}}</option>
    {{/each}}
  </select>
   <br>
   <br>
   	<input type="submit" value="Add Truck Schedule" id="addTruckSchedule">
   <br>
<!--    	<input type="submit" value="Update Truck Schedule" id="updateTruckSchedule">
   <br>
   	<input type="submit" value="Remove Truck Schedule" id="removeTruckSchedule"> -->
</form>
<div>{{error}}</div>

<h3>Current Truck Schedule:</h3>
<table>
  <thead>
    <th>ScheduleID</th>
    <th>Food Truck</th>
    <th>Location</th>
    <th>Time Slot</th>
  </thead>
  <tbody>
    {{#each schedule}}
    <tr>
      <td>{{schedule_id}}</td>
      <td>{{food_truck_name}}</td>
      <td>{{location_name}}</td>
      <td>{{day_of_week}}, {{time_of_day}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<div id="updated"></div>

<h3>Modify Truck Schedule:</h3>
<table>
  <thead>
    <th>ScheduleID</th>
    <th>Food Truck</th>
    <th>Location</th>
    <th>Time Slot</th>
  </thead>
  <tbody>
    {{#each schedule}}
    <tr>
      <td>{{schedule_id}}</td>
      <td>{{food_truck_name}}</td>
      <!-- <td><select class="styledTableSelect" name="location" id="updateLocation" value={{location_id}} onchange="locationValue(this.value)"> -->
        <td><select class="styledTableSelect" name="location" id=location:{{schedule_id}} value={{location_id}}>
    {{#each ../allLocations}}
    <option value={{location_id}} {{{select location_id ../location_id}}}>{{location_name}}</option>
    {{/each}}
  </select></td>
      <!-- <td><select class="styledTableSelect" name="timeslot" id="updateTime" value={{time_slot_id}} onchange="timeValue(this.value)"> -->
        <td><select class="styledTableSelect" name="timeslot" id=time:{{schedule_id}} value={{location_id}}>
    <option value = "NULL">NULL</option>
    {{#each ../allTimeSlots}}
    <option value={{time_slot_id}} {{{select time_slot_id ../time_slot_id}}}>{{day_of_week}}, {{time_of_day}}</option>
    {{/each}}
  </select></td>
      <td><button onclick="deleteSchedule({{schedule_id}})">Delete</button></td>
      <td><button onclick="updateSchedule({{schedule_id}})">Update</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<div id="updated"></div>
